.header-wrapper {
    width: 30%;
    float: left;
    position: fixed;
}

.content-wrapper {
    width: 65%;
    float: right;
    display: flex;
    flex-direction: column;
}

/* social icons */
.linkedin:hover, .telegram:hover, .substack:hover, .twitter:hover {
    opacity: 0.5;
}

/* headshot */
.headshot-wrapper{
    max-width: 400px;
}
.headshot {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


